.Container{
  
flex-direction: column;
 text-align:left;
   height: 100%;
   width: 30%;
   width: max-content;
   display: flex;
    flex:1;

}

.Style{
 
flex-direction: row;
display: flex;
padding: 1px;
text-align:right;
justify-content: space-evenly;

}
.Style2{
                      
     
text-align:right;
   
}

.Style3{
   flex-direction: row;
display: flex;
justify-content: space-evenly;
flex-flow: row;
  text-indent: 50px;
  height: 100%;
   width: 70%;
   background-color: brown;
   flex-wrap: wrap;
   
   
}

.Body{
   height: 100%;
   width: 70%;
   background-color: lightcoral;
}
.color{
   background-color: brown;
}